.smell_column{
  padding: 0;
  position: relative;
  .flower{
    position: absolute;
  }
  .flower1{
    top: 16%;
    left: -6%;
    @include mq-up('lg'){
      display: none;
    }
  }
  .flower2{
    top: 40%;
    right: -17%;
    @include mq-up('lg'){
      display: none;
    }
  }
  .flower3{
    top: 73%;
    left: -5%;
    @include mq-up('lg'){
      display: none;
    }
  }
}